@model IEnumerable<LostAndFoundBikeInformation>
@{
    ViewData["Title"] = "MyList";
}

<div class="container">
    <h1>My List</h1>


    <table class="table">
        <thead>
        <tr>
            <th>Bike Name</th>
            <th>Bike Registration</th>
            <th>Bike Serial No</th>
        </tr>
        </thead>
        
        @foreach (var Bikes in Model)
        {
        var UserId = User.FindFirst("Id").Value;
        var CurrentId = Bikes.UserID;
        if (UserId == CurrentId)
        {
        <tbody>
        <td>@Bikes.BikeName</td>
        <td>@Bikes.BikeRegNo</td>
        <td>@Bikes.BikeSN</td>
        @if (Bikes.IsFound)
        {
            <td class="fw-bolder text-danger">Bike is Found</td>
        }
        <td><a class="btn btn-primary" asp-action="FullDetails" asp-controller="Home" asp-route-BikeRegNo="@Bikes.BikeRegNo">View Full Details</a>
            <a class="btn btn-info" asp-action="EditList" asp-controller="Profile" asp-route-BikeRegNo="@Bikes.BikeRegNo">Edit List</a>
                    <a class="btn btn-danger" asp-action="DeleteBike" asp-controller="Home" asp-route-BikeRegNo="@Bikes.BikeRegNo">Delete</a>
                </td>
                

        </tbody>

        }

        }

    </table>
</div>