@model FullDetailsViewModel
@{
    ViewData["Title"] = "Full Details";
    var BikePhoto = "~/Images/" + Model.lostAndFoundBikeInformation.BikePhoto;
}
<div class="container">
    <div class="main-body">

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                <li class="breadcrumb-item"><a asp-action="Mylist" asp-controller="Profile">My List</a></li>
                <li class="breadcrumb-item"><a asp-action="FullDetails">FullDetails</a></li>
            </ol>
        </nav>
        <!-- /Breadcrumb -->
        @if (Model.lostAndFoundBikeInformation.IsFound)
        {
            <h2 class="fw-bolder text-danger text-center">This Bike is Found Already</h2>
        }
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="@BikePhoto" alt="User"  width="100%" asp-append-version="true">
                            <div class="mt-1">
                                <h4>@Model.lostAndFoundBikeInformation.BikeName</h4>
                                

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <h1 class="fw-bolder">Bike's Information</h1>
                        <hr/>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Bike Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.lostAndFoundBikeInformation.BikeName
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Registration Number</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.lostAndFoundBikeInformation.BikeRegNo
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Serial Number</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.lostAndFoundBikeInformation.BikeSN
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">GD Number</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.lostAndFoundBikeInformation.GDNumber
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Place of Losing</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.lostAndFoundBikeInformation.PlaceWhereLost
                            </div>
                            
                        </div>
                        <hr>
                        <h1 class="fw-bolder">Owner's Information</h1>
                        <hr />
                        
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Owner's Name'</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.lostAndFoundBikeInformation.OwnerName
                            </div>

                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Owner's Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.lostAndFoundBikeInformation.OwnerEmail
                            </div>

                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Owner's Phone Number</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.lostAndFoundBikeInformation.OwnerPhone
                            </div>

                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Owner's Address</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.lostAndFoundBikeInformation.OwnerAddress
                            </div>

                        </div>
                        
                        
                    </div>
                </div>





            </div>
        </div>

    </div>
</div>

